CI_ENVIRONMENT=
app.allowedHostnames=
app.db_log_enabled=
database.default.DBDriver=
database.default.DBPrefix=
database.default.database=
database.default.hostname=
database.default.password=
database.default.username=
database.development.DBDriver=
database.development.DBPrefix=
database.development.database=
database.development.hostname=
database.development.password=
database.development.username=
database.tests.DBDriver=
database.tests.DBPrefix=
database.tests.database=
database.tests.hostname=
database.tests.password=
database.tests.username=
encryption.key=
honeypot.container=
honeypot.hidden=
honeypot.label=
honeypot.name=
honeypot.template=
logger.threshold=